
@import url( 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap' );

.hero-wrapper {
   
  background-image : url( '/background.png' );
  background-size : cover;
  background-position : center;
  background-repeat : no-repeat;
  padding : 4rem 1rem ;
  background-color :rgb( 19 , 5 , 47 );
  
}

.hero-container {

  display : flex;
  flex-direction : row;
  align-items : center;
  justify-content : space-between;
  max-width : 1200px;
  margin : auto;
  flex-wrap : wrap;
  gap : 2rem;

}

.hero-image {

  flex : 1 1 45%;
  display : flex;
  justify-content : center;

}

.hero-image img {

  width : 100%;
  max-width : 450px;
  height : auto;

}

.hero-right {

  flex : 1 1 50%;

}

.hero-title {

  font-weight : 700;
  background : linear-gradient( #FFE942 , #FF9500 , #FFE600 , #FF0CB2 );
  -webkit-background-clip : text;
  background-clip : text;  
  -webkit-text-fill-color : transparent;
  font-family : "Open Sans" , sans-serif;
  
}

.p1, .p2 {

  font-size : 2rem;
  margin : 0;

}

.hero-des { 

  color : white;
  font-size : 1rem;
  line-height : 1.6rem;
  margin-top : 1rem;
  font-family : "Open Sans" , sans-serif;

}

.signbutton {

  color : white;
  background-color : #9854F8;
  padding : 10px 24px;
  font-size : 16px;
  border : none;
  border-radius : 8px;
  cursor : pointer;
  transition : color 0.3s ease;
  margin-top : 1.5rem;

}

.signbutton:hover {

  background-color : white ;
  color : #9854F8;

}

@media ( max-width : 768px ) {

  .hero-container {

    flex-direction : column;
    text-align : center;

  }

  .hero-right {

    order : 2;

  }

  .hero-image {

    order : 1;
    margin-bottom : 2rem;

  }

  .p1 , .p2 {

    font-size : 1.5rem;

  }

  .hero-description {

    font-size : 0.95rem;
    padding : 0 1rem;

  }

  .signbutton {

    margin-left : 0;

  }

}