@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.statement{
    font-family: "Open Sans", sans-serif;
    background-color: #593192;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: rgb(42, 211, 211);
    padding-top: 0.5rem;
    padding-bottom: 0.4rem ;

}
.s-container{
    background:#ECB5FE;
    text-align: center;
    color: #5E164C;
    
}
.s-heading{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 2rem;

}
.business-types {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    font-weight: lighter;
    font-size: 1rem;
  }
  
  .business-card {
    background-color: white;
    color: black;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 200px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    transition: transform 0.3s;
  }
  
  .business-card img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .business-card h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .business-card:hover {
    transform: translateY(-8px);
  }
  